.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 80px;
}
.signUpLogo1{
    width: 200px;
    object-fit: contain;
    text-align: center;
    margin-left: 10px;
}
.loginForm{
    background-color: #ffffff4d;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

.loginForm2{
    background-color: #ffffff4d;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 5px;
    text-align: center;
}

#login-btn {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #34a4eb;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 8px;
}